.home-button-debug {
	position: absolute;
	top: 50px;
	left: 2100px;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	background-color: cadetblue;
}
