.scratchpad-header {
  width: 90%;
  background-color: var(--darkPurple);
  height: 100px;
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  border-bottom: 1px solid var(--lightPurple);
  justify-content: space-between;
}
.popup-container {
  position: absolute;
  transform: translate(0px, 30px);
  width: 220px;
  height: 200px;
}
.sp-item-container {
  display: flex;
  width: 220px;
  height: 300px;
  border: 1px solid var(--lightPurple);
  border-radius: 20px;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}

.sp-content-container {
  padding: 30px;
  gap: 45px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.sp-content-container-inner {
  @extend .sp-content-container;
  padding: 0px;
  flex-wrap: wrap;
}
.add-scratchpad-content-button {
  @extend .sp-item-container;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--blue);
}

/////////////////////////////// header buttons
.sp-header-edit {
  padding: 10px;
  background-color: var(--blue);
  width: 80px;
  font-size: 35px;
  height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.sp-header-done {
  @extend .sp-header-edit;
}
.sp-header-add {
  @extend .sp-header-edit;
  width: 120px;
}
.sp-header-delete {
  @extend .sp-header-add;
  background-color: var(--ifrRed);
  width: 160px;
}
.scratchpad-display-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--containerBackground);
}
.canvas-container {
  height: 90%;
  background-color: var(--darkPurple);
  width: 90%;
  border: 1px solid var(--blue);
}
.scratchpad-display-header {
  width: 90%;
  background-color: var(--darkPurple);
  height: 100px;
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  border-bottom: 1px solid var(--lightPurple);
  justify-content: space-between;
}
.close-sp-button,
.clear-sp-button {
  @extend .sp-header-done;
}
.remove-button {
  position: absolute;
  top: 10px;
  width: 70px;
  height: 70px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  border-radius: 100%;
  background-color: var(--ifrRed);
}
.popout-svg {
  position: absolute;
  width: 250px;
  transform: translate(-15px, -30px);
}
