.runway-wrapper {
  display: flex;
  flex-direction: column;
  padding: 60px 40px 0px 40px;
  background-color: var(--darkerBlue);
  // background-color: red;

  position: absolute;
  width: 1328px;
  top: 756px;
  left: 640px;
  height: 628px;
  overflow-y: scroll;
}
.runway-display-container {
  border-top: 1px solid var(--notSoLightPurple);
  display: flex;
  flex-direction: row;
  width: 900px;
  justify-content: space-between;
}
.runway-display-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  border-right: 1px solid var(--notSoLightPurple);

  padding: 20px;
  margin-left: 20px;
}
.runway-display-right {
  display: flex;
  width: 590px;
  justify-content: space-around;
  flex-direction: row;
  margin-left: 20px;
}
.runway-display-right-ident {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lightBlue);
  font-size: 35px;
}
.runway-display-right-winds {
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-around;
  align-items: center;
  font-size: 28px;
}
.runway-content-wrapper {
  background-color: var(--veryVeryDarkBlue);
  padding: 0px;
  width: 950px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 626px;
  overflow-y: scroll;
  overflow-x: hidden;
}
