.airports-favorites {
  position: absolute;
  top: 140px;
  width: 640px;
  height: 1304px;

  background-color: var(--containerBackground);
}
.airports-favorites-title {
  background-color: var(--backgroundColor);
  border-bottom: 1px solid var(--lightPurple);

  height: 80px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.airports-favorites-list {
  display: flex;
  flex-direction: column;
}
.airports-favorites-list-item {
  padding: 30px;
  background-color: var(--backgroundColor);
  border-bottom: 1px solid var(--notSoLightPurple);
}
