.app-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: auto;
}
.app-icon-image-container {
  background-color: aqua;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  border-radius: 25px;
}
