.info-buttons-wrapper {
  background-color: #0f1925;
}
.info-wrapper {
  display: flex;
  flex-direction: row;
  padding: 60px 40px 0px 40px;
  background-color: #1e3650;
  // background-color: red;

  position: absolute;
  width: 1328px;
  top: 756px;
  left: 640px;
  height: 627px;
}
.frequency-display {
  background-color: #0f1925;
  width: 500px;
}
