.info-button-bar-button {
  background-color: var(--darkPurple);
  width: 348px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
}
.airports-button-bar {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 1406px;
  top: 692px;
  justify-content: space-around;
  height: 65px;
  left: 640px;

  background-color: var(--notAsDarkBGColor);
}

.info-button-bar-button-active {
  background-color: var(--darkerBlue);
  box-shadow:
    inset 0 2px var(--lightBlue),
    inset 2px 2px var(--lightBlue),
    inset -2px 2px var(--lightBlue);
}
