.info-button-bar-button {
  background-color: #0f1925;
  width: 280px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
}
.airports-button-bar {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 1408px;
  top: 692px;
  justify-content: space-around;
  height: 65px;
  left: 640px;

  background-color: #132231;
}

.info-button-bar-button-active {
  background-color: #1e3650;
}
