.home-container {
  background-image: url('./bg.jpg');
  width: 2048px;
  background-size: cover;
  background-position: center;
  height: 1536px;
}
.home-grid {
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}
