.notams-wrapper {
  display: flex;
  flex-direction: row;
  padding: 60px 40px 0px 40px;
  background-color: var(--darkerBlue);
  // background-color: red;

  position: absolute;
  width: 1328px;
  top: 756px;
  left: 640px;
  height: 628px;
}
