.info-buttons-wrapper {
  background-color: var(--veryVeryDarkBlue);
  border-top-left-radius: 20px;
}
.info-wrapper {
  display: flex;
  flex-direction: row;
  padding: 60px 40px 0px 40px;
  background-color: var(--darkerBlue);
  // background-color: red;

  position: absolute;
  width: 1328px;
  top: 756px;
  left: 640px;
  height: 628px;
}
.frequency-display {
  background-color: var(--veryVeryDarkBlue);
  width: 500px;
  border-top-right-radius: 20px;
  padding-right: 20px;
}
.info-buttons-title {
  padding: 10px;
}
.frequency-type-title {
  padding: 10px;
}
