.frequency-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 35px;
  justify-content: space-between;
  color: white;
  border-top: 1px solid var(--notSoLightPurple);
  border-bottom: 1px solid var(--notSoLightPurple);
  padding: 10px;
}

.frequency-type-box {
  font-size: 25px;
  color: gray;
}
