.airport-information-provider {
  display: flex;
  width: 600px;
  height: 20px;
  padding: 35px;
  align-items: center;
  justify-content: space-between;
}
.airport-information-provider-field {
  color: white;
}
.airport-information-provider-content {
  color: grey;
}
