.airports-header {
  width: 100%;
  background-color: var(--darkPurple);
  height: 138px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--lightPurple);
  justify-content: space-between;
}
.airports-header-title {
  padding: 20px;
  font-weight: 500;
  font-size: 60px;
}
.airports-header-search-input {
  border: none;

  background-color: var(--notAsDarkBGColor);
  border-radius: 10px;
  color: white;
  padding: 5px;
  border: 1px solid var(--lightPurple);
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.airports-header-search-group {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
}
.airports-header-search-button {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  &:hover {
    text-shadow: rgb(0, 162, 255) 1px 0 10px;
  }
}
.search-button-svg {
  fill: var(--blue);
  transition: ease-in-out 0.2s;
  &:hover {
    fill: var(--darkBlue);
    transition: ease-in-out 0.2s;
    box-shadow: 4px 4px white;
  }
}
.search-button-hourglass {
  pointer-events: none;
}
