.checklist-item-display {
  margin-left: 50px;
  width: 1450px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  gap: 50px;
}
.checklist-item-display-challenge {
  width: 440px;
}
.checklist-item-display-action {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  width: 250px;
}
.checklist-item-display-performedBy {
  width: 400px;
  text-align: center;
}

.checklist-item-display-divider {
  width: 100%;
  border-bottom: 5px dashed var(--lightPurple);
}
.checklist-item-display-note {
  margin-left: 50px;
  padding: 20px;
  color: var(--mvfrDark);
}
.checklist-item-display-caution {
  @extend .checklist-item-display-note;
  color: red;
  // background-color: white;
}
