.checklist-item-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 50px;
}
.checklist-item-display-hasdetails {
  margin-left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.checklist-item-display-challenge {
  width: 420px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
  box-sizing: border-box;
}
.checklist-item-display-action {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  width: 200px;
}
.checklist-item-display-performedBy {
  width: 400px;
  text-align: center;
}

.checklist-item-display-divider {
  width: 100%;
  border-bottom: 5px dashed var(--lightPurple);
}
.checklist-item-display-note {
  margin-left: 50px;
  padding: 20px;
  color: var(--mvfrDark);
  border: 5px dashed var(--mvfrDark);
  width: 90%;
}
.checklist-item-display-caution {
  @extend .checklist-item-display-note;
  color: var(--ifrRed);
  border: 5px dashed var(--ifrRed);
  width: 90%;
  // background-color: white;
}
.checklist-item-display-inner-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  gap: 50px;
}
.checklist-item-display-inner-wrapper-details {
  margin-left: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  gap: 50px;
}
.item-display-dropdown-inactive {
  transform: rotate(0deg);
  transition: 0.2s;
}
.item-display-dropdown-active {
  transition: 0.2s;
  transform: rotate(90deg);
}
.item-display-dropdown-active-info {
  transition: 0.2s;
}
.item-display-dropdown-inactive-info {
  transition: 0.2s;
}

.checklist-item-subchecklist-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 850px;
  padding-bottom: 15px;
  padding-left: 70px;
  justify-content: space-between;
}
.checklist-item-subchecklist-chal {
  width: 550px;
}
.checklist-item-subchecklist-res {
  width: 300px;
}
