:root {
  --containerBackground: #180a2a;
  --notAsDarkBGColor: #26133e;
  --backgroundColor: #210e3a;
  --darkPurple: #36185c;
  --lightPurple: #a359ff;
  --notSoLightPurple: #674592;
  --darkBlue: #0042ff;
  --blue: #2a2fff;
  --darkerBlue: #16175c;
  --lightBlue: #007eff;
  --veryDarkBlue: #0f1039;
  --veryVeryDarkBlue: #090923;
}
html {
  width: 2048px;
  height: 1536px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  font-size: 30px;
  // background-image: url('./ref.png');
  background-repeat: no-repeat;
  width: 2048px;
  height: 1536px;
}
.ipadContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2048px;
  height: 1536px;
  //   background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
