.checklist-header {
  width: 100%;
  position: absolute;
  background-color: var(--darkPurple);
  height: 120px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid var(--lightPurple);
  justify-content: space-between;
}
