.checklist-content-display-container {
  padding-left: 20px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.checklist-content-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
